.price-interval-slider {
  height: 5px;
  width: 80%;
  margin-bottom: 25px;
  background-color: orange;
  cursor: pointer;
}

.price-interval-thumb {
  background-color: orangered;
  padding: 10px;
  margin: -8.5px 0px 0px 0px;
  border: 1px solid black;
  border-radius: 50px;
}

#minspan {
  user-select: none;
  margin-right: 30%;
  padding: 10px;
  color: cornsilk;
  background-color: black;
  border-radius: 5px;
}

#maxspan {
  margin-left: 30%;
  user-select: none;
  padding: 10px;
  color: cornsilk;
  background-color: black;
  border-radius: 5px;
}

#ratingspan {
  user-select: none;
  padding: 10px;
  color: cornsilk;
  background-color: black;
  border-radius: 5px;
}

/* //button */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.button2 {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 4px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}
.button2:hover #categoryhead {
  border: 1px solid transparent;
  color: white;
}

.button2:hover {
  color: white;
  border: 3px solid black;
  background-color: cornflowerblue;
}

.button2:hover span {
  position: absolute;
  display: block;
}
.button2:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.button2:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.button2:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}
.button2:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#categoryhead {
  font-size: 20px;
  color: #3a86ff;
}

.box select {
  cursor: pointer;
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 170px;
  border: 3px solid black;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  width: 30%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

#FilterBox {
  transition: all 2s ease-in-out;
  width: 40%;
  margin-top: 50px;
  padding: 50px;
  border: 2px solid #0563af;
  animation: filterbox 1s linear;
  animation-iteration-count: 1;
}

@keyframes filterbox {
  0% {
    position: absolute;
    left: -50%;
    background-color: #7feaff;
  }
  100% {
    left: 100%;
  }
}
@keyframes filterboxreverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  #categoryhead {
    font-size: 20px;
  }

  .box select {
    width: 150px;
    font-size: 15px;
  }
  #FilterBox {
    width: 60%;
  }
  @keyframes filterbox {
    0% {
      position: absolute;
      left: -50%;
    }
    100% {
      background-color: #7feaff;
      left: 80%;
    }
  }
  @keyframes filterbox {
    0% {
      position: absolute;
      left: 80%;
    }
    100% {
      background-color: #7feaff;
      left: -50%;
    }
  }
}

@media (max-width: 430px) {
  #categoryhead {
    font-size: 13px;
  }

  .box select {
    width: 100px;
    font-size: 13px;
    padding: 5px;
  }
  #FilterBox {
    width: 50%;
  }
  @keyframes filterbox {
    0% {
      position: absolute;
      left: -50%;
      background-color: #7feaff;
    }
    100% {
      left: 70%;
    }
  }
}

@media (max-width: 425px) {
  #categoryhead {
    font-size: 11px;
    padding: 0px;
  }

  .button2 {
    margin-top: 20px;
    font-size: 10px;
    width: 60px;
    padding: 5px;
    margin: 10px;
  }
  .box select {
    width: 50px;
    font-size: 8px;
    padding: 0px;
  }
  #FilterBox {
    width: 50%;
  }
  #minspan {
    font-size: 12px;
  }
  #maxspan {
    font-size: 12px;
  }
  #ratingspan {
    font-size: 12px;
  }
}
